<div class="card mb-4">
  <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Price</th>
          <th>Product Quantity</th>
          <th>Action</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Product Id</th>
          <th>Product Price</th>
          <th>Product Quantity</th>
          <th>Action</th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{product.id}}</td>
          <td>{{product.price}}</td>
          <td>{{product.unitsInStock}}</td>
          <td>
            <button (click)="gasupdate(product.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


